# 程序任务——构建一个保存记录的数据库

# 第一步：表示记录

In [2]:
bob = ['Bob Smith', 42, 30000, 'software']
sue = ['Sue Jones', 45, 40000, 'hardware']

In [3]:
bob[0], sue[2] # 访问记录项， 获取姓名和薪水

('Bob Smith', 40000)

In [4]:
bob[0].split()[-1] # bob 姓什么

'Smith'

In [5]:
sue[2] *= 1.25 # 给sue加薪25%， 并更新数据

In [6]:
sue

['Sue Jones', 45, 50000.0, 'hardware']

## 数据库列表（列表数据库？）

In [7]:
people = [bob, sue]
for person in people:
    print(person)

['Bob Smith', 42, 30000, 'software']
['Sue Jones', 45, 50000.0, 'hardware']

**现在列表people就是我们的数据库**

In [8]:
people[1][0] # sue 的姓名

'Sue Jones'

In [9]:
for person in people:
    print(person[0].split()[-1])  # 打印姓氏
    person[2] *= 1.20               # 涨25%的薪水

Smith
Jones

In [10]:
for person in people:print(person[2]) # 检查新的薪酬

36000.0
60000.0

由于

In [11]:
pays = [person[2] for person in people]
pays

[36000.0, 60000.0]

In [12]:
pays = map((lambda x: x[2]), people)
list(pays)
#

[36000.0, 60000.0]

In [13]:
sum(person[2] for person in people)
#

96000.0

In [14]:
people.append(['Tom',50,0,None])
#
len(people)

3

In [15]:
people[-1][0], people[2][0]

('Tom', 'Tom')

In [16]:
people

[['Bob Smith', 42, 36000.0, 'software'],
 ['Sue Jones', 45, 60000.0, 'hardware'],
 ['Tom', 50, 0, None]]

In [17]:
music = ['compact disc', '8-track tape', 'long playing record']

In [18]:
new_music = ['DVD Audio disc', 'Super Audio CD']

In [19]:
music.append(new_music)
print(music)

['compact disc', '8-track tape', 'long playing record', ['DVD Audio disc', 'Super Audio CD']]

In [20]:
music = ['compact disc', '8-track tape', 'long playing record']
new_music = ['DVD Audio disc', 'Super Audio CD']
music.extend(new_music)
print(music)

['compact disc', '8-track tape', 'long playing record', 'DVD Audio disc', 'Super Audio CD']

In [21]:
music.append('ccc')
music

['compact disc',
 '8-track tape',
 'long playing record',
 'DVD Audio disc',
 'Super Audio CD',
 'ccc']

## Field 标签

In [22]:
# 把字段名和字段值练习起来
NAME, AGE, PAY = range(3)
bob = ['Bob Smith',42,10000]
bob[NAME]

'Bob Smith'

In [23]:
PAY, bob[PAY]

(2, 10000)

In [24]:
'''
这解决了
'''

'\n这解决了\n'

In [25]:
bob = [['name','Bob Smith'], ['age',42], ['pay',10000]]
sue = [['name','Sue Jones'], ['age',45], ['pay',20000]]
people = [bob,sue]

In [26]:
for person in people:
    print(person[0][1], person[2][1]) #

Bob Smith 10000
Sue Jones 20000

In [27]:
[person[0][1] for person in people]   #

['Bob Smith', 'Sue Jones']

In [28]:
for person in people:
    print(person[0][1].split()[-1])  # 
    person[2][1] *= 1.20             #

Smith
Jones

In [29]:
for person in people:print(person[2][0]+str(person[2][1]))

pay12000.0
pay24000.0

In [30]:
for person in people:
    for (name,value) in person:  # 
        if name == 'name':print(value)
        elif name == 'pay':print(value)
        else:
            pass

Bob Smith
12000.0
Sue Jones
24000.0

In [31]:
# 
def field(record, label):
    for (fname, fvalue) in record:
        if fname == label:
            return fvalue
        
# 
field(bob, 'name')

'Bob Smith'

In [32]:
field(bob,'age')

42

In [33]:
field(sue, 'pay')

24000.0

In [34]:
for person in people:
    print(field(person, 'age'))  #

42
45

## 使用字典
￥

In [35]:
bob = {'name':'Bob Smith', 'age':42, 'pay':30000, 'job':'dev'}
sue = {'name':'Sue Jones', 'age':45, 'pay':40000, 'job':'hdw'}
''''''

''

In [36]:
bob['name'],sue['pay'] #

('Bob Smith', 40000)

In [37]:
bob['name'].split()[-1] #

'Smith'

In [38]:
sue['pay'] *= 1.10
sue['pay']

44000.0

# 其他建立字典的方法

除了传统语法外，还有许多更为便捷的方法来建立字典。

In [39]:
# 关键字参数
bob = dict(name='Bob Smith',age=42,pay=30000,job='dev')
sue = dict(name='Sue Jones',age=45,pay=40000,job='hdw')

In [40]:
bob,sue

({'age': 42, 'job': 'dev', 'name': 'Bob Smith', 'pay': 30000},
 {'age': 45, 'job': 'hdw', 'name': 'Sue Jones', 'pay': 40000})

In [41]:
# 
sue={}
sue['name'] = 'Sue Jones'
sue['age'] = 45
sue['pay'] = 40000
sue['job'] = 'hdw'
sue

{'age': 45, 'job': 'hdw', 'name': 'Sue Jones', 'pay': 40000}

In [42]:
# 
names = ['name','age','pay','job']
values = ['Sue Jones',45,40000,'hdw']
list(zip(names,values))

sue = dict(zip(names,values))
sue

{'age': 45, 'job': 'hdw', 'name': 'Sue Jones', 'pay': 40000}

In [43]:
# 
fileds=('name','age','pay','job')
record=dict.fromkeys(fileds,'?')
record

{'age': '?', 'job': '?', 'name': '?', 'pay': '?'}

## 字典列表

In [44]:
bob

{'age': 42, 'job': 'dev', 'name': 'Bob Smith', 'pay': 30000}

In [45]:
sue

{'age': 45, 'job': 'hdw', 'name': 'Sue Jones', 'pay': 40000}

In [46]:
people = [bob,sue]    #
for person in people:
    print(person['name'],person['pay'],sep=';')  #

Bob Smith;30000
Sue Jones;40000

In [47]:
for person in people:
    if person['name'] == 'Sue Jones':
        print(person['pay'])

40000

In [48]:
names = [person['name'] for person in people]
names

['Bob Smith', 'Sue Jones']

In [49]:
list(person['name'] for person in people)

['Bob Smith', 'Sue Jones']

In [50]:
v = (person['name'] for person in people)
v

In [51]:
next(v)

'Bob Smith'

In [52]:
next(v)

'Sue Jones'

In [53]:
next(v)

StopIteration:

In [54]:
z = map((lambda x: x['name']),people)
next(z)

'Bob Smith'

In [55]:
list(map((lambda x: x['name']),people))

['Bob Smith', 'Sue Jones']

In [56]:
sum(person['pay'] for person in people)

70000

In [57]:
[rec['name'] for rec in people if rec['age'] >= 45]  #

['Sue Jones']

In [58]:
[(rec['age'] ** 2 if rec['age'] >= 45 else rec['age']) for rec in people]

[42, 2025]

In [59]:
[(rec['age'] ** 2 if rec['age'] >= 45 else rec['age']) for rec in people  ]

[42, 2025]

In [60]:
G = (rec['name'] for rec in people if rec['age'] >=45)
next(G)

'Sue Jones'

In [62]:
# 用通常的Python语法进行访问和更新
for person in people:
    print(person['name'].split()[-1])  # 姓
    person['pay'] *= 1.10

Smith
Jones

In [63]:
for person in people:print(person['pay'])

33000.0
44000.0

In [68]:
# 嵌套结构
# 通过进一步结构化代码，避免前例中抽取姓氏的代码。
# 任何Python的复合数据结构均可任意层次的互相嵌套
# 更为结构化的记录
bob2 = {'name':{'first':'Bob','last':'Smith'},
       'age':42,
       'job':['software','writing'],
       'pay':(40000,50000)}
# 索引两次就能访问两层深的数据

bob2['name'] # bob的全名

{'first': 'Bob', 'last': 'Smith'}

In [69]:
bob2['name']['last'] # Bob的姓氏

'Smith'

In [70]:
bob2['pay'][1]  # Bob的最高薪资

50000

In [72]:
for job in bob2['job']:print(job) # bob的所有工作

software
writing

In [73]:
bob2['job'][-1]

'writing'

In [77]:
bob2['job'].append('janitor')  # bob得到一个新工作
bob2

{'age': 42,
 'job': ['software', 'writing', 'janitor', 'janitor', ['janitor']],
 'name': {'first': 'Bob', 'last': 'Smith'},
 'pay': [40000, 50000]}

In [78]:
# 类似的嵌套在更复杂的应用程序中也能用的到，为了保持简单用扁平化结构

In [79]:
# 字典的字典
bob = dict(name='Bob Smith',age=42,pay=30000,job='dev')
sue = dict(name='Sue Jones',age=45,pay=40000,job='hdw')
bob

{'age': 42, 'job': 'dev', 'name': 'Bob Smith', 'pay': 30000}

In [80]:
db = {}
db['bob'] = bob
db['sue'] = sue
db['sue']['name']

'Sue Jones'

In [83]:
db['sue']['pay'] = 50000  # 改变sue的薪水
db['sue']['pay']  #获取sue的薪水

50000

In [84]:
db['bob']

{'age': 42, 'job': 'dev', 'name': 'Bob Smith', 'pay': 30000}

In [85]:
db

{'bob': {'age': 42, 'job': 'dev', 'name': 'Bob Smith', 'pay': 30000},
 'sue': {'age': 45, 'job': 'hdw', 'name': 'Sue Jones', 'pay': 50000}}

In [86]:
import pprint  # pprint 模块四输出更易于理解
pprint.pprint(db)

{'bob': {'age': 42, 'job': 'dev', 'name': 'Bob Smith', 'pay': 30000},
 'sue': {'age': 45, 'job': 'hdw', 'name': 'Sue Jones', 'pay': 50000}}

In [91]:
# 字典的迭代器
for key in db:
    print(key,"=>",db[key]['name'])

bob => Bob Smith
sue => Sue Jones

In [92]:
for key in db:
    print(key,"=>",db[key]['pay'])

bob => 30000
sue => 50000

In [93]:
# 
for key in db:
    print(key,'=>',db[key]['name'].split()[-1])
    db[key]['pay'] *= 1.1

bob => Smith
sue => Jones

In [94]:
#
for rec in db.values():print(rec['pay'])

33000.0
55000.00000000001

In [96]:
x = [db[key]['name'] for key in db]
x

{'Bob Smith', 'Sue Jones'}

In [97]:
x = [rec['name'] for rec in db.values()]
x

['Bob Smith', 'Sue Jones']

In [99]:
# 新增
db['tom'] = dict(name='Tom',age=50,job=None,pay=0)
db['tom']

{'age': 50, 'job': None, 'name': 'Tom', 'pay': 0}

In [100]:
db['tom']['name']

'Tom'

In [101]:
list(db.keys())

['bob', 'sue', 'tom']

In [102]:
len(db)

3

In [103]:
[rec['age'] for rec in db.values()]

[42, 45, 50]

In [104]:
[rec['name'] for rec in db.values() if rec['age'] >= 45] # 类似SQL的查询

['Sue Jones', 'Tom']

In [ ]:
# 尽管只是临时对象，但这种字典的字典的结构与永久性保存对象的系统非常契合